<ion-header>
  <ion-toolbar class="festinha">
    <ion-title>perfil-usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item *ngIf="usuario | async as user">
        <img src="assets/perfil.png" alt="" (click)="tirarFoto()" *ngIf="preview == null">
        <img [src]="preview" alt="" (click)="tirarFoto()" *ngIf="preview != null">
      <ion-text>
        {{user.nome}}
        &nbsp;
        {{user.email}}
        &nbsp;
        <ion-note>{{key}}</ion-note>
      </ion-text>
    </ion-item>

</ion-content>