<ion-header>
  <ion-toolbar>
    <ion-title>perfil-usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="usuario | async as user">
    <ion-item >
        <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
      <ion-text>
        {{user.nome}}
      </ion-text>
      &nbsp;
      <ion-text>
        {{user.email}}
      </ion-text>
      &nbsp;
      <ion-text>
        {{user.pws}}
      </ion-text>
      &nbsp;
      <ion-note>{{key}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>