<ion-header>
  <ion-toolbar class="festinha">
    <ion-title>lista de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="usuarios | async as users">
    <ion-item-sliding *ngFor="let user of users">
      <ion-item-options side="start">
        <ion-item-option (click)="apagar()" color="danger" expandable>
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      
      <ion-item routerLink="/tabs/perfilUsuario/{{user.key}}">
        <ion-text>
          {{user.nome}} - {{user.email}}
        </ion-text>
        <ion-note>{{user.key}}</ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="atualizar()" expandable>
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="danger" routerLink="/tabs/addUsuario">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>